In [3]:
import pickle
import pandas as pd

In [6]:
# Specify the path to the .pkl file
file_path = "Datasets/avoplotto.pkl"

# Load the .pkl file
with open(file_path, "rb") as file:
    data = pickle.load(file)
    
df = pd.DataFrame(data)

df.head()

         date          type  year  avg_price   size     nb_sold
0  2015-12-27  conventional  2015       0.95  small  9626901.09
1  2015-12-20  conventional  2015       0.98  small  8710021.76
2  2015-12-13  conventional  2015       0.93  small  9855053.66
3  2015-12-06  conventional  2015       0.89  small  9405464.36
4  2015-11-29  conventional  2015       0.99  small  8094803.56

# Slicing and Indexing DataFrames

## 1. Explicit indexes

In [7]:
df.columns

Index(['date', 'type', 'year', 'avg_price', 'size', 'nb_sold'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=1014, step=1)

### Setting and removing Index

Using Index we can access the values easily using .loc method instead of subsetting the dataframe. Indexes are not necessarly need to be unique and we can have multiple index known as Multi Level or Heirarical Index

In [40]:
df_ind = df.set_index("year")
print(df_ind.columns)
df_ind.head()

Index(['date', 'type', 'avg_price', 'size', 'nb_sold'], dtype='object')

            date          type  avg_price   size     nb_sold
year
2015  2015-12-27  conventional       0.95  small  9626901.09
2015  2015-12-20  conventional       0.98  small  8710021.76
2015  2015-12-13  conventional       0.93  small  9855053.66
2015  2015-12-06  conventional       0.89  small  9405464.36
2015  2015-11-29  conventional       0.99  small  8094803.56

**Accessing using Subsetting Method**

In [58]:
df[df["year"].isin([2015])]

           date          type  year  avg_price         size     nb_sold
0    2015-12-27  conventional  2015       0.95        small  9626901.09
1    2015-12-20  conventional  2015       0.98        small  8710021.76
2    2015-12-13  conventional  2015       0.93        small  9855053.66
3    2015-12-06  conventional  2015       0.89        small  9405464.36
4    2015-11-29  conventional  2015       0.99        small  8094803.56
..          ...           ...   ...        ...          ...         ...
892  2015-02-01       organic  2015       1.36  extra_large     5852.28
893  2015-01-25       organic  2015       1.53  extra_large     4753.87
894  2015-01-18       organic  2015       1.42  extra_large     4020.85
895  2015-01-11       organic  2015       1.42  extra_large     3830.42
896  2015-01-04       organic  2015       1.46  extra_large     4370.99

[312 rows x 6 columns]

**Accessing using .loc method**

In [59]:
df_ind.loc[2015]

            date          type  avg_price         size     nb_sold
year
2015  2015-12-27  conventional       0.95        small  9626901.09
2015  2015-12-20  conventional       0.98        small  8710021.76
2015  2015-12-13  conventional       0.93        small  9855053.66
2015  2015-12-06  conventional       0.89        small  9405464.36
2015  2015-11-29  conventional       0.99        small  8094803.56
...          ...           ...        ...          ...         ...
2015  2015-02-01       organic       1.36  extra_large     5852.28
2015  2015-01-25       organic       1.53  extra_large     4753.87
2015  2015-01-18       organic       1.42  extra_large     4020.85
2015  2015-01-11       organic       1.42  extra_large     3830.42
2015  2015-01-04       organic       1.46  extra_large     4370.99

[312 rows x 5 columns]

In [62]:
df_ind2 = df.set_index(["year", "type"])

df_ind2

                         date  avg_price         size     nb_sold
year type
2015 conventional  2015-12-27       0.95        small  9626901.09
     conventional  2015-12-20       0.98        small  8710021.76
     conventional  2015-12-13       0.93        small  9855053.66
     conventional  2015-12-06       0.89        small  9405464.36
     conventional  2015-11-29       0.99        small  8094803.56
...                       ...        ...          ...         ...
2018 organic       2018-02-04       1.53  extra_large     1703.52
     organic       2018-01-28       1.61  extra_large     1270.61
     organic       2018-01-21       1.63  extra_large     1490.02
     organic       2018-01-14       1.59  extra_large     1580.01
     organic       2018-01-07       1.51  extra_large     1289.07

[1014 rows x 4 columns]

In [63]:
# Accessing using first index
df_ind2.loc[2018]

                    date  avg_price         size      nb_sold
type
conventional  2018-03-25       1.03        small  14130799.10
conventional  2018-03-18       1.05        small  13707389.51
conventional  2018-03-11       1.09        small  14089091.05
conventional  2018-03-04       1.07        small  14439547.46
conventional  2018-02-25       1.06        small  13829857.87
...                  ...        ...          ...          ...
organic       2018-02-04       1.53  extra_large      1703.52
organic       2018-01-28       1.61  extra_large      1270.61
organic       2018-01-21       1.63  extra_large      1490.02
organic       2018-01-14       1.59  extra_large      1580.01
organic       2018-01-07       1.51  extra_large      1289.07

[72 rows x 4 columns]

In [66]:
# In order to access value using multi index we can pass a tuple to .loc method
df_ind2.loc[(2016, "organic")].head()

C:\Users\Muhammad_Haseeb\AppData\Local\Temp\ipykernel_8512\4257483777.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_ind2.loc[(2016, "organic")].head()

                    date  avg_price   size    nb_sold
year type
2016 organic  2016-12-25       1.34  small   93875.25
     organic  2016-12-18       1.43  small   97661.23
     organic  2016-12-11       1.42  small   93027.82
     organic  2016-12-04       1.56  small  106472.53
     organic  2016-11-27       1.64  small  100240.54

In [68]:
# we can pass a list of tuple to access multiple index at multi level
df_ind2.loc[[(2015, "organic"),(2016, "organic")]]

                    date  avg_price         size   nb_sold
year type
2015 organic  2015-12-27       1.52        small  89709.92
     organic  2015-12-20       1.53        small  93849.30
     organic  2015-12-13       1.43        small  91837.92
     organic  2015-12-06       1.52        small  90203.21
     organic  2015-11-29       1.50        small  79215.51
...                  ...        ...          ...       ...
2016 organic  2016-01-31       1.43  extra_large   5515.91
     organic  2016-01-24       1.41  extra_large  12933.97
     organic  2016-01-17       1.44  extra_large  13106.29
     organic  2016-01-10       1.35  extra_large   8771.79
     organic  2016-01-03       1.43  extra_large   7749.40

[312 rows x 4 columns]

**Sorting using Index**

In [71]:
df_ind2.sort_index()

                         date  avg_price         size     nb_sold
year type
2015 conventional  2015-12-27       0.95        small  9626901.09
     conventional  2015-12-20       0.98        small  8710021.76
     conventional  2015-12-13       0.93        small  9855053.66
     conventional  2015-12-06       0.89        small  9405464.36
     conventional  2015-11-29       0.99        small  8094803.56
...                       ...        ...          ...         ...
2018 organic       2018-02-04       1.53  extra_large     1703.52
     organic       2018-01-28       1.61  extra_large     1270.61
     organic       2018-01-21       1.63  extra_large     1490.02
     organic       2018-01-14       1.59  extra_large     1580.01
     organic       2018-01-07       1.51  extra_large     1289.07

[1014 rows x 4 columns]

In [83]:
df_ind2.sort_index(level="type")

                         date  avg_price         size     nb_sold
year type
2015 conventional  2015-12-27       0.95        small  9626901.09
     conventional  2015-12-20       0.98        small  8710021.76
     conventional  2015-12-13       0.93        small  9855053.66
     conventional  2015-12-06       0.89        small  9405464.36
     conventional  2015-11-29       0.99        small  8094803.56
...                       ...        ...          ...         ...
2018 organic       2018-02-04       1.53  extra_large     1703.52
     organic       2018-01-28       1.61  extra_large     1270.61
     organic       2018-01-21       1.63  extra_large     1490.02
     organic       2018-01-14       1.59  extra_large     1580.01
     organic       2018-01-07       1.51  extra_large     1289.07

[1014 rows x 4 columns]

**Resetting indexes** <br>
we have 2 methods resetting the indexes <br>
one method will drop the values also if we set drop=True in reset_index method <br>
The other method will retain the values by setting drop=False in reset_index method <br>

In [73]:
df_ind.reset_index(drop=True)
df_ind.head()

            date          type  avg_price   size     nb_sold
year
2015  2015-12-27  conventional       0.95  small  9626901.09
2015  2015-12-20  conventional       0.98  small  8710021.76
2015  2015-12-13  conventional       0.93  small  9855053.66
2015  2015-12-06  conventional       0.89  small  9405464.36
2015  2015-11-29  conventional       0.99  small  8094803.56

In [76]:
# drop is false in default
df_ind2.reset_index()

      year          type        date  avg_price         size     nb_sold
0     2015  conventional  2015-12-27       0.95        small  9626901.09
1     2015  conventional  2015-12-20       0.98        small  8710021.76
2     2015  conventional  2015-12-13       0.93        small  9855053.66
3     2015  conventional  2015-12-06       0.89        small  9405464.36
4     2015  conventional  2015-11-29       0.99        small  8094803.56
...    ...           ...         ...        ...          ...         ...
1009  2018       organic  2018-02-04       1.53  extra_large     1703.52
1010  2018       organic  2018-01-28       1.61  extra_large     1270.61
1011  2018       organic  2018-01-21       1.63  extra_large     1490.02
1012  2018       organic  2018-01-14       1.59  extra_large     1580.01
1013  2018       organic  2018-01-07       1.51  extra_large     1289.07

[1014 rows x 6 columns]

## 2. Slicing and subsetting with .loc and .iloc

`loc` and `iloc` are two different methods in pandas used for accessing rows and columns from a DataFrame. They serve different purposes and use different indexing techniques:

1. `loc`:
   - `loc` is label-based indexing, meaning it allows you to access rows and columns using their labels (index and column names).
   - It accepts labels for both row and column selection.
   - The syntax for using `loc` is `df.loc[row_label, column_label]`.
   - You can pass single labels, lists of labels, or slices to select rows and columns.
   - It is primarily used when you want to access data based on the labels of the DataFrame.

2. `iloc`:
   - `iloc` is integer-based indexing, meaning it allows you to access rows and columns using their integer positions (0-based integer index).
   - It accepts integer values for both row and column selection.
   - The syntax for using `iloc` is `df.iloc[row_index, column_index]`.
   - You can pass single integers, lists of integers, or slices to select rows and columns.
   - It is primarily used when you want to access data based on the integer positions of the DataFrame.

Here's a summary of their differences:

- `loc` uses labels (index and column names), while `iloc` uses integer positions.
- With `loc`, you can use specific labels or conditions to filter data, while `iloc` only works with integer positions.
- `loc` is inclusive when using slices (the start and stop values are included in the selection), whereas `iloc` is exclusive (the stop value is not included in the selection).
- When the DataFrame's index is a default integer index (0, 1, 2, ...), using `loc` and `iloc` might give you the same results. However, it's good practice to use the appropriate method based on your specific use case to avoid potential issues if the DataFrame's index changes in the future.

### Slicing using .loc
<br>
for slicing using .loc the key must be unique

In [104]:
df_ind

            date          type  avg_price         size     nb_sold
year
2015  2015-12-27  conventional       0.95        small  9626901.09
2015  2015-12-20  conventional       0.98        small  8710021.76
2015  2015-12-13  conventional       0.93        small  9855053.66
2015  2015-12-06  conventional       0.89        small  9405464.36
2015  2015-11-29  conventional       0.99        small  8094803.56
...          ...           ...        ...          ...         ...
2018  2018-02-04       organic       1.53  extra_large     1703.52
2018  2018-01-28       organic       1.61  extra_large     1270.61
2018  2018-01-21       organic       1.63  extra_large     1490.02
2018  2018-01-14       organic       1.59  extra_large     1580.01
2018  2018-01-07       organic       1.51  extra_large     1289.07

[1014 rows x 5 columns]

In [106]:
# for unique values we can slice using loc by following method
# df_ind.loc[2015:2016]

**Slicing Columns**

In [109]:
df.columns

Index(['date', 'type', 'year', 'avg_price', 'size', 'nb_sold'], dtype='object')

In [112]:
df.loc[:, "year": "size"]

      year  avg_price         size
0     2015       0.95        small
1     2015       0.98        small
2     2015       0.93        small
3     2015       0.89        small
4     2015       0.99        small
...    ...        ...          ...
1009  2018       1.53  extra_large
1010  2018       1.61  extra_large
1011  2018       1.63  extra_large
1012  2018       1.59  extra_large
1013  2018       1.51  extra_large

[1014 rows x 3 columns]

### Slicing using .iloc

In [116]:
df_ind.iloc[10:100]

            date          type  avg_price   size      nb_sold
year
2015  2015-10-18  conventional       0.99  small   9162094.14
2015  2015-10-11  conventional       1.00  small   8828340.53
2015  2015-10-04  conventional       1.02  small   8353619.97
2015  2015-09-27  conventional       1.03  small   8454208.80
2015  2015-09-20  conventional       1.02  small   9422275.27
...          ...           ...        ...    ...          ...
2016  2016-02-28  conventional       0.91  small  11907394.72
2016  2016-02-21  conventional       0.94  small  10015825.13
2016  2016-02-14  conventional       0.88  small  11913078.30
2016  2016-02-07  conventional       0.76  small  16573573.78
2016  2016-01-31  conventional       0.93  small  11098088.49

[90 rows x 5 columns]

In [118]:
df_ind.iloc[:, 1:4]

              type  avg_price         size
year
2015  conventional       0.95        small
2015  conventional       0.98        small
2015  conventional       0.93        small
2015  conventional       0.89        small
2015  conventional       0.99        small
...            ...        ...          ...
2018       organic       1.53  extra_large
2018       organic       1.61  extra_large
2018       organic       1.63  extra_large
2018       organic       1.59  extra_large
2018       organic       1.51  extra_large

[1014 rows x 3 columns]